* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    background-color: #111; /* Un gris oscuro para diferenciarlo del fondo */
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 400px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* Sombra blanca tenue */
    text-align: center;
    border-radius: 15px;
    border: 2px solid #333;
}

form h1 {
    font-size: 30px;
    color: #fff; /* Color blanco para ser visible */
    margin-bottom: 20px;
}

input {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #444; /* Un gris más claro para mayor visibilidad */
    background-color: #222;
    color: #fff;
    font-size: 16px;
    width: 100%; /* Ocupa todo el ancho */
    margin-bottom: 15px;
    outline: none;
    transition: 0.3s;
}

/* Efecto cuando el usuario hace clic en un input */
input:focus {
    border-color: #00ffcc;
    box-shadow: 0 0 8px rgba(0, 255, 204, 0.6);
}

/* Estilos para el botón */
.btn {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #00ffcc;
    color: #000;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #009977;
    box-shadow: 0 0 10px rgba(0, 255, 204, 0.6);
}